:root {
  --main-clr: #1450D0;
  --clr-2: #E9F0FF;
  --clr-3: #F2F6FF;
}

*, ::before, ::after {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position:  ;
  --tw-gradient-via-position:  ;
  --tw-gradient-to-position:  ;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
  --tw-contain-size:  ;
  --tw-contain-layout:  ;
  --tw-contain-paint:  ;
  --tw-contain-style:  ;
}

::backdrop {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position:  ;
  --tw-gradient-via-position:  ;
  --tw-gradient-to-position:  ;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
  --tw-contain-size:  ;
  --tw-contain-layout:  ;
  --tw-contain-paint:  ;
  --tw-contain-style:  ;
}

/*
! tailwindcss v3.4.17 | MIT License | https://tailwindcss.com
*/

/*
1. Prevent padding and border from affecting element width. (https://github.com/mozdevs/cssremedy/issues/4)
2. Allow adding a border to an element by just adding a border-width. (https://github.com/tailwindcss/tailwindcss/pull/116)
*/

*,
::before,
::after {
  box-sizing: border-box;
  /* 1 */
  border-width: 0;
  /* 2 */
  border-style: solid;
  /* 2 */
  border-color: #e5e7eb;
  /* 2 */
}

::before,
::after {
  --tw-content: '';
}

/*
1. Use a consistent sensible line-height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
3. Use a more readable tab size.
4. Use the user's configured `sans` font-family by default.
5. Use the user's configured `sans` font-feature-settings by default.
6. Use the user's configured `sans` font-variation-settings by default.
7. Disable tap highlights on iOS
*/

html,
:host {
  line-height: 1.5;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -moz-tab-size: 4;
  /* 3 */
  -o-tab-size: 4;
     tab-size: 4;
  /* 3 */
  font-family: Roboto, sans-serif;
  /* 4 */
  font-feature-settings: normal;
  /* 5 */
  font-variation-settings: normal;
  /* 6 */
  -webkit-tap-highlight-color: transparent;
  /* 7 */
}

/*
1. Remove the margin in all browsers.
2. Inherit line-height from `html` so users can set them as a class directly on the `html` element.
*/

body {
  margin: 0;
  /* 1 */
  line-height: inherit;
  /* 2 */
}

/*
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
3. Ensure horizontal rules are visible by default.
*/

hr {
  height: 0;
  /* 1 */
  color: inherit;
  /* 2 */
  border-top-width: 1px;
  /* 3 */
}

/*
Add the correct text decoration in Chrome, Edge, and Safari.
*/

abbr:where([title]) {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/*
Remove the default font size and weight for headings.
*/

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*
Reset links to optimize for opt-in styling instead of opt-out.
*/

a {
  color: inherit;
  text-decoration: inherit;
}

/*
Add the correct font weight in Edge and Safari.
*/

b,
strong {
  font-weight: bolder;
}

/*
1. Use the user's configured `mono` font-family by default.
2. Use the user's configured `mono` font-feature-settings by default.
3. Use the user's configured `mono` font-variation-settings by default.
4. Correct the odd `em` font sizing in all browsers.
*/

code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  /* 1 */
  font-feature-settings: normal;
  /* 2 */
  font-variation-settings: normal;
  /* 3 */
  font-size: 1em;
  /* 4 */
}

/*
Add the correct font size in all browsers.
*/

small {
  font-size: 80%;
}

/*
Prevent `sub` and `sup` elements from affecting the line height in all browsers.
*/

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
3. Remove gaps between table borders by default.
*/

table {
  text-indent: 0;
  /* 1 */
  border-color: inherit;
  /* 2 */
  border-collapse: collapse;
  /* 3 */
}

/*
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
3. Remove default padding in all browsers.
*/

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-feature-settings: inherit;
  /* 1 */
  font-variation-settings: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  font-weight: inherit;
  /* 1 */
  line-height: inherit;
  /* 1 */
  letter-spacing: inherit;
  /* 1 */
  color: inherit;
  /* 1 */
  margin: 0;
  /* 2 */
  padding: 0;
  /* 3 */
}

/*
Remove the inheritance of text transform in Edge and Firefox.
*/

button,
select {
  text-transform: none;
}

/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Remove default button styles.
*/

button,
input:where([type='button']),
input:where([type='reset']),
input:where([type='submit']) {
  -webkit-appearance: button;
  /* 1 */
  background-color: transparent;
  /* 2 */
  background-image: none;
  /* 2 */
}

/*
Use the modern Firefox focus style for all focusable elements.
*/

:-moz-focusring {
  outline: auto;
}

/*
Remove the additional `:invalid` styles in Firefox. (https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737)
*/

:-moz-ui-invalid {
  box-shadow: none;
}

/*
Add the correct vertical alignment in Chrome and Firefox.
*/

progress {
  vertical-align: baseline;
}

/*
Correct the cursor style of increment and decrement buttons in Safari.
*/

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/*
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/

[type='search'] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/*
Remove the inner padding in Chrome and Safari on macOS.
*/

::-webkit-search-decoration {
  -webkit-appearance: none;
}

/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to `inherit` in Safari.
*/

::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Add the correct display in Chrome and Safari.
*/

summary {
  display: list-item;
}

/*
Removes the default spacing and border for appropriate elements.
*/

blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
  margin: 0;
}

fieldset {
  margin: 0;
  padding: 0;
}

legend {
  padding: 0;
}

ol,
ul,
menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

/*
Reset default styling for dialogs.
*/

dialog {
  padding: 0;
}

/*
Prevent resizing textareas horizontally by default.
*/

textarea {
  resize: vertical;
}

/*
1. Reset the default placeholder opacity in Firefox. (https://github.com/tailwindlabs/tailwindcss/issues/3300)
2. Set the default placeholder color to the user's configured gray 400 color.
*/

input::-moz-placeholder, textarea::-moz-placeholder {
  opacity: 1;
  /* 1 */
  color: #9ca3af;
  /* 2 */
}

input::placeholder,
textarea::placeholder {
  opacity: 1;
  /* 1 */
  color: #9ca3af;
  /* 2 */
}

/*
Set the default cursor for buttons.
*/

button,
[role="button"] {
  cursor: pointer;
}

/*
Make sure disabled buttons don't get the pointer cursor.
*/

:disabled {
  cursor: default;
}

/*
1. Make replaced elements `display: block` by default. (https://github.com/mozdevs/cssremedy/issues/14)
2. Add `vertical-align: middle` to align replaced elements more sensibly by default. (https://github.com/jensimmons/cssremedy/issues/14#issuecomment-634934210)
   This can trigger a poorly considered lint error in some tools but is included by design.
*/

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block;
  /* 1 */
  vertical-align: middle;
  /* 2 */
}

/*
Constrain images and videos to the parent width and preserve their intrinsic aspect ratio. (https://github.com/mozdevs/cssremedy/issues/14)
*/

img,
video {
  max-width: 100%;
  height: auto;
}

/* Make elements with the HTML hidden attribute stay hidden by default */

[hidden]:where(:not([hidden="until-found"])) {
  display: none;
}

body {
  --tw-bg-opacity: 1;
  background-color: rgb(242 246 255 / var(--tw-bg-opacity, 1));
  font-family: Roboto, sans-serif;
}

.title-blue {
  display: flex;
  max-width: -moz-max-content;
  max-width: max-content;
  align-items: center;
  word-break: break-all;
  border-radius: 20px;
  background-color: var(--main-clr);
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  font-size: 22px;
  font-weight: 700;
  text-transform: uppercase;
  font-style: italic;
  line-height: 2.5rem;
  --tw-text-opacity: 1;
  color: rgb(249 250 251 / var(--tw-text-opacity, 1));
}

@media (min-width: 768px) {
  .title-blue {
    font-size: 25px;
  }
}

@media (min-width: 1024px) {
  .title-blue {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    font-size: 34px;
  }
}

@media (min-width: 1536px) {
  .title-blue {
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-size: 44px;
  }
}

@media (min-width: 1836px) {
  .title-blue {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

.title-white {
  display: flex;
  max-width: -moz-max-content;
  max-width: max-content;
  align-items: center;
  word-break: break-all;
  border-radius: 20px;
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity, 1));
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  font-size: 22px;
  font-weight: 700;
  text-transform: uppercase;
  font-style: italic;
  line-height: 2.5rem;
  --tw-text-opacity: 1;
  color: rgb(75 85 99 / var(--tw-text-opacity, 1));
}

@media (min-width: 768px) {
  .title-white {
    font-size: 25px;
  }
}

@media (min-width: 1024px) {
  .title-white {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    font-size: 34px;
  }
}

@media (min-width: 1536px) {
  .title-white {
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-size: 44px;
  }
}

@media (min-width: 1836px) {
  .title-white {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

.page-banner {
  margin-top: 15svw;
  margin-bottom: 15svw;
}

@media (min-width: 320px) {
  .page-banner {
    margin-top: 50px;
    margin-bottom: 50px;
  }
}

@media (min-width: 768px) {
  .page-banner {
    margin-top: 60px;
    margin-bottom: 60px;
  }
}

@media (min-width: 1024px) {
  .page-banner {
    margin-top: 75px;
    margin-bottom: 75px;
  }
}

@media (min-width: 1536px) {
  .page-banner {
    margin-top: 85px;
    margin-bottom: 85px;
  }
}

@media (min-width: 1836px) {
  .page-banner {
    margin-top: 100px;
    margin-bottom: 100px;
  }
}

/*
    Block what-data-collect
*/

.what-data-collect-tab {
}

.container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
}

@media (min-width: 320px) {
  .container {
    max-width: 320px;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
  }
}

@media (min-width: 576px) {
  .container {
    max-width: 576px;
    padding-right: 0.8rem;
    padding-left: 0.8rem;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 768px;
    padding-right: 0.9rem;
    padding-left: 0.9rem;
  }
}

@media (min-width: 1024px) {
  .container {
    max-width: 1024px;
  }
}

@media (min-width: 1536px) {
  .container {
    max-width: 1536px;
    padding-right: 2rem;
    padding-left: 2rem;
  }
}

@media (min-width: 1836px) {
  .container {
    max-width: 1836px;
  }
}

.static {
  position: static;
}

.fixed {
  position: fixed;
}

.absolute {
  position: absolute;
}

.relative {
  position: relative;
}

.-bottom-\[10px\] {
  bottom: -10px;
}

.-bottom-\[3\%\] {
  bottom: -3%;
}

.-top-\[5\%\] {
  top: -5%;
}

.left-0 {
  left: 0px;
}

.left-\[4\%\] {
  left: 4%;
}

.left-\[40\%\] {
  left: 40%;
}

.left-\[44\%\] {
  left: 44%;
}

.left-\[5\%\] {
  left: 5%;
}

.right-0 {
  right: 0px;
}

.right-4 {
  right: 1rem;
}

.right-\[28\%\] {
  right: 28%;
}

.right-\[29\%\] {
  right: 29%;
}

.right-\[34\%\] {
  right: 34%;
}

.right-\[50\%\] {
  right: 50%;
}

.right-\[53\%\] {
  right: 53%;
}

.right-\[84\%\] {
  right: 84%;
}

.top-0 {
  top: 0px;
}

.top-4 {
  top: 1rem;
}

.top-\[30\%\] {
  top: 30%;
}

.top-\[33\%\] {
  top: 33%;
}

.top-\[38\%\] {
  top: 38%;
}

.top-\[39\%\] {
  top: 39%;
}

.top-\[42\%\] {
  top: 42%;
}

.top-\[49\%\] {
  top: 49%;
}

.top-\[65\%\] {
  top: 65%;
}

.top-\[85\%\] {
  top: 85%;
}

.-z-10 {
  z-index: -10;
}

.z-0 {
  z-index: 0;
}

.z-10 {
  z-index: 10;
}

.z-20 {
  z-index: 20;
}

.z-30 {
  z-index: 30;
}

.z-40 {
  z-index: 40;
}

.m-auto {
  margin: auto;
}

.mx-2 {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.mx-\[0\.5rem\] {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.my-10 {
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
}

.my-4 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.my-5 {
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
}

.my-6 {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.-mb-3 {
  margin-bottom: -0.75rem;
}

.-ml-2 {
  margin-left: -0.5rem;
}

.-mt-1 {
  margin-top: -0.25rem;
}

.mb-10 {
  margin-bottom: 2.5rem;
}

.mb-2 {
  margin-bottom: 0.5rem;
}

.mb-20 {
  margin-bottom: 5rem;
}

.mb-3 {
  margin-bottom: 0.75rem;
}

.mb-4 {
  margin-bottom: 1rem;
}

.mb-5 {
  margin-bottom: 1.25rem;
}

.mb-6 {
  margin-bottom: 1.5rem;
}

.mb-\[50px\] {
  margin-bottom: 50px;
}

.mb-\[5px\] {
  margin-bottom: 5px;
}

.ml-\[auto\] {
  margin-left: auto;
}

.mt-10 {
  margin-top: 2.5rem;
}

.mt-16 {
  margin-top: 4rem;
}

.mt-2 {
  margin-top: 0.5rem;
}

.mt-20 {
  margin-top: 5rem;
}

.mt-24 {
  margin-top: 6rem;
}

.mt-3 {
  margin-top: 0.75rem;
}

.mt-4 {
  margin-top: 1rem;
}

.mt-6 {
  margin-top: 1.5rem;
}

.mt-8 {
  margin-top: 2rem;
}

.mt-\[40px\] {
  margin-top: 40px;
}

.mt-\[45px\] {
  margin-top: 45px;
}

.ml-auto {
  margin-left: auto;
}

.mr-auto {
  margin-right: auto;
}

.-mt-2 {
  margin-top: -0.5rem;
}

.-mt-4 {
  margin-top: -1rem;
}

.-mt-5 {
  margin-top: -1.25rem;
}

.mt-\[10px\] {
  margin-top: 10px;
}

.mt-\[15px\] {
  margin-top: 15px;
}

.box-content {
  box-sizing: content-box;
}

.block {
  display: block;
}

.flex {
  display: flex;
}

.grid {
  display: grid;
}

.hidden {
  display: none;
}

.aspect-\[2\/1\] {
  aspect-ratio: 2/1;
}

.aspect-square {
  aspect-ratio: 1 / 1;
}

.h-0 {
  height: 0px;
}

.h-24 {
  height: 6rem;
}

.h-4 {
  height: 1rem;
}

.h-8 {
  height: 2rem;
}

.h-\[40px\] {
  height: 40px;
}

.h-\[45px\] {
  height: 45px;
}

.h-auto {
  height: auto;
}

.h-full {
  height: 100%;
}

.h-\[500px\] {
  height: 500px;
}

.h-\[400px\] {
  height: 400px;
}

.max-h-10 {
  max-height: 2.5rem;
}

.max-h-4 {
  max-height: 1rem;
}

.max-h-6 {
  max-height: 1.5rem;
}

.min-h-10 {
  min-height: 2.5rem;
}

.w-10 {
  width: 2.5rem;
}

.w-24 {
  width: 6rem;
}

.w-3 {
  width: 0.75rem;
}

.w-4 {
  width: 1rem;
}

.w-5 {
  width: 1.25rem;
}

.w-6 {
  width: 1.5rem;
}

.w-8 {
  width: 2rem;
}

.w-9 {
  width: 2.25rem;
}

.w-\[12\%\] {
  width: 12%;
}

.w-\[12svw\] {
  width: 12svw;
}

.w-\[14px\] {
  width: 14px;
}

.w-\[15px\] {
  width: 15px;
}

.w-\[200px\] {
  width: 200px;
}

.w-\[20px\] {
  width: 20px;
}

.w-\[25\%\] {
  width: 25%;
}

.w-\[35\%\] {
  width: 35%;
}

.w-\[40px\] {
  width: 40px;
}

.w-\[45px\] {
  width: 45px;
}

.w-\[47\%\] {
  width: 47%;
}

.w-\[5\%\] {
  width: 5%;
}

.w-\[7\%\] {
  width: 7%;
}

.w-\[70px\] {
  width: 70px;
}

.w-\[7svw\] {
  width: 7svw;
}

.w-full {
  width: 100%;
}

.min-w-10 {
  min-width: 2.5rem;
}

.min-w-12 {
  min-width: 3rem;
}

.min-w-4 {
  min-width: 1rem;
}

.min-w-6 {
  min-width: 1.5rem;
}

.min-w-8 {
  min-width: 2rem;
}

.min-w-\[10px\] {
  min-width: 10px;
}

.min-w-\[20px\] {
  min-width: 20px;
}

.min-w-max {
  min-width: -moz-max-content;
  min-width: max-content;
}

.max-w-4 {
  max-width: 1rem;
}

.max-w-\[1200px\] {
  max-width: 1200px;
}

.max-w-\[20px\] {
  max-width: 20px;
}

.max-w-\[485px\] {
  max-width: 485px;
}

.max-w-\[500px\] {
  max-width: 500px;
}

.max-w-\[600px\] {
  max-width: 600px;
}

.max-w-max {
  max-width: -moz-max-content;
  max-width: max-content;
}

.flex-1 {
  flex: 1 1 0%;
}

.translate-y-0 {
  --tw-translate-y: 0px;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.-rotate-180 {
  --tw-rotate: -180deg;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.rotate-90 {
  --tw-rotate: 90deg;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.cursor-pointer {
  cursor: pointer;
}

.list-disc {
  list-style-type: disc;
}

.grid-cols-1 {
  grid-template-columns: repeat(1, minmax(0, 1fr));
}

.flex-row {
  flex-direction: row;
}

.flex-col {
  flex-direction: column;
}

.flex-col-reverse {
  flex-direction: column-reverse;
}

.flex-wrap {
  flex-wrap: wrap;
}

.items-start {
  align-items: flex-start;
}

.items-center {
  align-items: center;
}

.justify-start {
  justify-content: flex-start;
}

.justify-end {
  justify-content: flex-end;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.gap-1 {
  gap: 0.25rem;
}

.gap-1\.5 {
  gap: 0.375rem;
}

.gap-10 {
  gap: 2.5rem;
}

.gap-2 {
  gap: 0.5rem;
}

.gap-3 {
  gap: 0.75rem;
}

.gap-4 {
  gap: 1rem;
}

.gap-5 {
  gap: 1.25rem;
}

.gap-6 {
  gap: 1.5rem;
}

.gap-\[30px\] {
  gap: 30px;
}

.overflow-hidden {
  overflow: hidden;
}

.overflow-x-hidden {
  overflow-x: hidden;
}

.truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.whitespace-normal {
  white-space: normal;
}

.break-all {
  word-break: break-all;
}

.break-keep {
  word-break: keep-all;
}

.rounded-2xl {
  border-radius: 1rem;
}

.rounded-\[10px\] {
  border-radius: 10px;
}

.rounded-\[15px\] {
  border-radius: 15px;
}

.rounded-\[16px\] {
  border-radius: 16px;
}

.rounded-\[18px\] {
  border-radius: 18px;
}

.rounded-\[20px\] {
  border-radius: 20px;
}

.rounded-\[30px\] {
  border-radius: 30px;
}

.rounded-\[40px\] {
  border-radius: 40px;
}

.rounded-\[50px\] {
  border-radius: 50px;
}

.rounded-full {
  border-radius: 9999px;
}

.rounded-lg {
  border-radius: 0.5rem;
}

.rounded-none {
  border-radius: 0px;
}

.rounded-xl {
  border-radius: 0.75rem;
}

.rounded-t-\[40px\] {
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
}

.rounded-l-3xl {
  border-top-left-radius: 1.5rem;
  border-bottom-left-radius: 1.5rem;
}

.rounded-r-3xl {
  border-top-right-radius: 1.5rem;
  border-bottom-right-radius: 1.5rem;
}

.rounded-r-\[40px\] {
  border-top-right-radius: 40px;
  border-bottom-right-radius: 40px;
}

.rounded-l-\[40px\] {
  border-top-left-radius: 40px;
  border-bottom-left-radius: 40px;
}

.rounded-r-\[20px\] {
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

.rounded-l-\[20px\] {
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.border {
  border-width: 1px;
}

.border-0 {
  border-width: 0px;
}

.border-2 {
  border-width: 2px;
}

.border-b {
  border-bottom-width: 1px;
}

.border-r-0 {
  border-right-width: 0px;
}

.border-solid {
  border-style: solid;
}

.border-\[\#1450D0\] {
  --tw-border-opacity: 1;
  border-color: rgb(20 80 208 / var(--tw-border-opacity, 1));
}

.border-\[\#286CFD\] {
  --tw-border-opacity: 1;
  border-color: rgb(40 108 253 / var(--tw-border-opacity, 1));
}

.border-\[\#5A575F\] {
  --tw-border-opacity: 1;
  border-color: rgb(90 87 95 / var(--tw-border-opacity, 1));
}

.border-\[\#D9D9D9\] {
  --tw-border-opacity: 1;
  border-color: rgb(217 217 217 / var(--tw-border-opacity, 1));
}

.border-\[var\(--main-clr\)\] {
  border-color: var(--main-clr);
}

.border-gray-500 {
  --tw-border-opacity: 1;
  border-color: rgb(107 114 128 / var(--tw-border-opacity, 1));
}

.border-transparent {
  border-color: transparent;
}

.border-\[red\] {
  --tw-border-opacity: 1;
  border-color: rgb(255 0 0 / var(--tw-border-opacity, 1));
}

.border-\[red\!important\] {
  border-color: red !important;
}

.border-\[blue\] {
  --tw-border-opacity: 1;
  border-color: rgb(0 0 255 / var(--tw-border-opacity, 1));
}

.border-sky-500 {
  --tw-border-opacity: 1;
  border-color: rgb(14 165 233 / var(--tw-border-opacity, 1));
}

.border-\[\#5a575f\] {
  --tw-border-opacity: 1;
  border-color: rgb(90 87 95 / var(--tw-border-opacity, 1));
}

.bg-\[\#1450D0\] {
  --tw-bg-opacity: 1;
  background-color: rgb(20 80 208 / var(--tw-bg-opacity, 1));
}

.bg-\[\#27272799\] {
  background-color: #27272799;
}

.bg-\[\#292929\] {
  --tw-bg-opacity: 1;
  background-color: rgb(41 41 41 / var(--tw-bg-opacity, 1));
}

.bg-\[\#5A575F\] {
  --tw-bg-opacity: 1;
  background-color: rgb(90 87 95 / var(--tw-bg-opacity, 1));
}

.bg-\[\#64D795\] {
  --tw-bg-opacity: 1;
  background-color: rgb(100 215 149 / var(--tw-bg-opacity, 1));
}

.bg-\[\#DA2127\] {
  --tw-bg-opacity: 1;
  background-color: rgb(218 33 39 / var(--tw-bg-opacity, 1));
}

.bg-\[\#E0FFED\] {
  --tw-bg-opacity: 1;
  background-color: rgb(224 255 237 / var(--tw-bg-opacity, 1));
}

.bg-\[\#E6F7FF\] {
  --tw-bg-opacity: 1;
  background-color: rgb(230 247 255 / var(--tw-bg-opacity, 1));
}

.bg-\[\#EDEBF0\] {
  --tw-bg-opacity: 1;
  background-color: rgb(237 235 240 / var(--tw-bg-opacity, 1));
}

.bg-\[\#F2F6FF\] {
  --tw-bg-opacity: 1;
  background-color: rgb(242 246 255 / var(--tw-bg-opacity, 1));
}

.bg-\[\#F6FFED\] {
  --tw-bg-opacity: 1;
  background-color: rgb(246 255 237 / var(--tw-bg-opacity, 1));
}

.bg-\[\#F7F7F7\] {
  --tw-bg-opacity: 1;
  background-color: rgb(247 247 247 / var(--tw-bg-opacity, 1));
}

.bg-\[\#F890B7\] {
  --tw-bg-opacity: 1;
  background-color: rgb(248 144 183 / var(--tw-bg-opacity, 1));
}

.bg-\[\#FAFAFA\] {
  --tw-bg-opacity: 1;
  background-color: rgb(250 250 250 / var(--tw-bg-opacity, 1));
}

.bg-\[\#FBC42E\] {
  --tw-bg-opacity: 1;
  background-color: rgb(251 196 46 / var(--tw-bg-opacity, 1));
}

.bg-\[\#FFEBF2\] {
  --tw-bg-opacity: 1;
  background-color: rgb(255 235 242 / var(--tw-bg-opacity, 1));
}

.bg-\[\#FFEFC3\] {
  --tw-bg-opacity: 1;
  background-color: rgb(255 239 195 / var(--tw-bg-opacity, 1));
}

.bg-\[\#FFF1F0\] {
  --tw-bg-opacity: 1;
  background-color: rgb(255 241 240 / var(--tw-bg-opacity, 1));
}

.bg-\[--clr-3\] {
  background-color: var(--clr-3);
}

.bg-\[--main-clr\] {
  background-color: var(--main-clr);
}

.bg-\[unset\] {
  background-color: unset;
}

.bg-\[white\] {
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity, 1));
}

.bg-white {
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity, 1));
}

.bg-\[none\] {
  background-color: none;
}

.bg-blue-300 {
  --tw-bg-opacity: 1;
  background-color: rgb(147 197 253 / var(--tw-bg-opacity, 1));
}

.bg-slate-300 {
  --tw-bg-opacity: 1;
  background-color: rgb(203 213 225 / var(--tw-bg-opacity, 1));
}

.bg-\[\#656565\] {
  --tw-bg-opacity: 1;
  background-color: rgb(101 101 101 / var(--tw-bg-opacity, 1));
}

.bg-\[red\] {
  --tw-bg-opacity: 1;
  background-color: rgb(255 0 0 / var(--tw-bg-opacity, 1));
}

.object-cover {
  -o-object-fit: cover;
     object-fit: cover;
}

.p-1 {
  padding: 0.25rem;
}

.p-2 {
  padding: 0.5rem;
}

.p-2\.5 {
  padding: 0.625rem;
}

.p-3 {
  padding: 0.75rem;
}

.p-4 {
  padding: 1rem;
}

.p-5 {
  padding: 1.25rem;
}

.p-\[10px\] {
  padding: 10px;
}

.p-\[4px\] {
  padding: 4px;
}

.px-10 {
  padding-left: 2.5rem;
  padding-right: 2.5rem;
}

.px-2 {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.px-4 {
  padding-left: 1rem;
  padding-right: 1rem;
}

.px-6 {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.px-\[0\.5rem\] {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.px-\[10px\] {
  padding-left: 10px;
  padding-right: 10px;
}

.px-\[20px\] {
  padding-left: 20px;
  padding-right: 20px;
}

.py-1 {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}

.py-12 {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.py-16 {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.py-2 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.py-4 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.py-8 {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.py-\[25px\] {
  padding-top: 25px;
  padding-bottom: 25px;
}

.py-\[6px\] {
  padding-top: 6px;
  padding-bottom: 6px;
}

.py-\[8px\] {
  padding-top: 8px;
  padding-bottom: 8px;
}

.px-0 {
  padding-left: 0px;
  padding-right: 0px;
}

.py-6 {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.pb-10 {
  padding-bottom: 2.5rem;
}

.pb-16 {
  padding-bottom: 4rem;
}

.pb-5 {
  padding-bottom: 1.25rem;
}

.pb-6 {
  padding-bottom: 1.5rem;
}

.pb-\[20px\] {
  padding-bottom: 20px;
}

.pl-2 {
  padding-left: 0.5rem;
}

.pl-4 {
  padding-left: 1rem;
}

.pl-6 {
  padding-left: 1.5rem;
}

.pt-14 {
  padding-top: 3.5rem;
}

.pt-6 {
  padding-top: 1.5rem;
}

.pt-8 {
  padding-top: 2rem;
}

.pt-\[10svw\] {
  padding-top: 10svw;
}

.pt-\[15svw\] {
  padding-top: 15svw;
}

.pt-0 {
  padding-top: 0px;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-2xl {
  font-size: 1.5rem;
  line-height: 2rem;
}

.text-\[12px\] {
  font-size: 12px;
}

.text-\[13px\] {
  font-size: 13px;
}

.text-\[14px\] {
  font-size: 14px;
}

.text-\[15px\] {
  font-size: 15px;
}

.text-\[16px\] {
  font-size: 16px;
}

.text-\[18px\] {
  font-size: 18px;
}

.text-\[20px\] {
  font-size: 20px;
}

.text-\[22px\] {
  font-size: 22px;
}

.text-\[24px\] {
  font-size: 24px;
}

.text-\[28px\] {
  font-size: 28px;
}

.text-\[40px\] {
  font-size: 40px;
}

.text-\[clamp\(10px\2c _8svw\2c _24px\)\] {
  font-size: clamp(10px, 8svw, 24px);
}

.text-base {
  font-size: 1rem;
  line-height: 1.5rem;
}

.text-lg {
  font-size: 1.125rem;
  line-height: 1.75rem;
}

.text-sm {
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.text-xl {
  font-size: 1.25rem;
  line-height: 1.75rem;
}

.text-xs {
  font-size: 0.75rem;
  line-height: 1rem;
}

.font-black {
  font-weight: 900;
}

.font-bold {
  font-weight: 700;
}

.font-extrabold {
  font-weight: 800;
}

.font-medium {
  font-weight: 500;
}

.font-normal {
  font-weight: 400;
}

.font-semibold {
  font-weight: 600;
}

.uppercase {
  text-transform: uppercase;
}

.italic {
  font-style: italic;
}

.leading-4 {
  line-height: 1rem;
}

.leading-5 {
  line-height: 1.25rem;
}

.leading-\[17px\] {
  line-height: 17px;
}

.leading-\[20px\] {
  line-height: 20px;
}

.leading-\[22px\] {
  line-height: 22px;
}

.leading-\[24px\] {
  line-height: 24px;
}

.leading-\[26px\] {
  line-height: 26px;
}

.text-\[\#1450D0\] {
  --tw-text-opacity: 1;
  color: rgb(20 80 208 / var(--tw-text-opacity, 1));
}

.text-\[\#2264F0\] {
  --tw-text-opacity: 1;
  color: rgb(34 100 240 / var(--tw-text-opacity, 1));
}

.text-\[\#5A575F\] {
  --tw-text-opacity: 1;
  color: rgb(90 87 95 / var(--tw-text-opacity, 1));
}

.text-\[\#5F5C63\] {
  --tw-text-opacity: 1;
  color: rgb(95 92 99 / var(--tw-text-opacity, 1));
}

.text-\[\#656565\] {
  --tw-text-opacity: 1;
  color: rgb(101 101 101 / var(--tw-text-opacity, 1));
}

.text-\[\#6F6F6F\] {
  --tw-text-opacity: 1;
  color: rgb(111 111 111 / var(--tw-text-opacity, 1));
}

.text-\[\#C1C1C1\] {
  --tw-text-opacity: 1;
  color: rgb(193 193 193 / var(--tw-text-opacity, 1));
}

.text-\[\#C6D8FF\] {
  --tw-text-opacity: 1;
  color: rgb(198 216 255 / var(--tw-text-opacity, 1));
}

.text-\[\#EDEBF0\] {
  --tw-text-opacity: 1;
  color: rgb(237 235 240 / var(--tw-text-opacity, 1));
}

.text-\[\#ffffff\] {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity, 1));
}

.text-\[--main-clr\] {
  color: var(--main-clr);
}

.text-\[inherit\] {
  color: inherit;
}

.text-\[white\] {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity, 1));
}

.text-gray-600 {
  --tw-text-opacity: 1;
  color: rgb(75 85 99 / var(--tw-text-opacity, 1));
}

.text-gray-700 {
  --tw-text-opacity: 1;
  color: rgb(55 65 81 / var(--tw-text-opacity, 1));
}

.text-white {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity, 1));
}

.opacity-0 {
  opacity: 0;
}

.shadow-2xl {
  --tw-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.25);
  --tw-shadow-colored: 0 25px 50px -12px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.outline-none {
  outline: 2px solid transparent;
  outline-offset: 2px;
}

.blur-2xl {
  --tw-blur: blur(40px);
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
}

.transition {
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, -webkit-backdrop-filter;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter, -webkit-backdrop-filter;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.transition-all {
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.delay-100 {
  transition-delay: 100ms;
}

.ease-in {
  transition-timing-function: cubic-bezier(0.4, 0, 1, 1);
}

.ease-out {
  transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
}

@media (min-width: 576px) {
  .sm\:container {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
  }

  @media (min-width: 320px) {
    .sm\:container {
      max-width: 320px;
      padding-right: 0.5rem;
      padding-left: 0.5rem;
    }
  }

  @media (min-width: 576px) {
    .sm\:container {
      max-width: 576px;
      padding-right: 0.8rem;
      padding-left: 0.8rem;
    }
  }

  @media (min-width: 768px) {
    .sm\:container {
      max-width: 768px;
      padding-right: 0.9rem;
      padding-left: 0.9rem;
    }
  }

  @media (min-width: 1024px) {
    .sm\:container {
      max-width: 1024px;
    }
  }

  @media (min-width: 1536px) {
    .sm\:container {
      max-width: 1536px;
      padding-right: 2rem;
      padding-left: 2rem;
    }
  }

  @media (min-width: 1836px) {
    .sm\:container {
      max-width: 1836px;
    }
  }
}

.even\:bg-\[\#F2F6FF\]:nth-child(even) {
  --tw-bg-opacity: 1;
  background-color: rgb(242 246 255 / var(--tw-bg-opacity, 1));
}

.hover\:border:hover {
  border-width: 1px;
}

.hover\:border-\[\#D9D9D9\]:hover {
  --tw-border-opacity: 1;
  border-color: rgb(217 217 217 / var(--tw-border-opacity, 1));
}

.hover\:border-gray-600:hover {
  --tw-border-opacity: 1;
  border-color: rgb(75 85 99 / var(--tw-border-opacity, 1));
}

.hover\:bg-\[--main-clr\]:hover {
  background-color: var(--main-clr);
}

.hover\:text-\[\#E6F7FF\]:hover {
  --tw-text-opacity: 1;
  color: rgb(230 247 255 / var(--tw-text-opacity, 1));
}

.hover\:text-\[--main-clr\]:hover {
  color: var(--main-clr);
}

.hover\:text-gray-600:hover {
  --tw-text-opacity: 1;
  color: rgb(75 85 99 / var(--tw-text-opacity, 1));
}

.hover\:text-white:hover {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity, 1));
}

.disabled\:border-0:disabled {
  border-width: 0px;
}

.disabled\:border-l-0:disabled {
  border-left-width: 0px;
}

.disabled\:border-\[unset\]:disabled {
  border-color: unset;
}

.disabled\:border-\[none\]:disabled {
  border-color: none;
}

.disabled\:p-20:disabled {
  padding: 5rem;
}

.group.header-mobile .group-\[\.header-mobile\]\:my-0 {
  margin-top: 0px;
  margin-bottom: 0px;
}

.group.header-mobile .group-\[\.header-mobile\]\:-mb-\[5px\] {
  margin-bottom: -5px;
}

.group\/accordion.open .group-\[\.open\]\/accordion\:mb-5 {
  margin-bottom: 1.25rem;
}

.group.header-mobile .group-\[\.header-mobile\]\:h-\[100\%\] {
  height: 100%;
}

.group\/accordion.open .group-\[\.open\]\/accordion\:-rotate-0 {
  --tw-rotate: -0deg;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.group.header-mobile .group-\[\.header-mobile\]\:items-center {
  align-items: center;
}

.group.header-mobile .group-\[\.header-mobile\]\:bg-white {
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity, 1));
}

.group\/accordion.open .group-\[\.open\]\/accordion\:bg-\[--clr-2\] {
  background-color: var(--clr-2);
}

.group.header-mobile .group-\[\.header-mobile\]\:bg-\[\#F2F6FF\] {
  --tw-bg-opacity: 1;
  background-color: rgb(242 246 255 / var(--tw-bg-opacity, 1));
}

.group.header-mobile .group-\[\.header-mobile\]\:py-4 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.group\/accordion.open .group-\[\.open\]\/accordion\:text-\[--main-clr\] {
  color: var(--main-clr);
}

.group.header-mobile .group-\[\.header-mobile\]\:shadow-md {
  --tw-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 4px 6px -1px var(--tw-shadow-color), 0 2px 4px -2px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.group.header-mobile .group-\[\.header-mobile\]\:shadow-\[\#F2F6FF\] {
  --tw-shadow-color: #F2F6FF;
  --tw-shadow: var(--tw-shadow-colored);
}

.peer\/left:disabled ~ .peer-disabled\/left\:border-l-0 {
  border-left-width: 0px;
}

.peer\/right:disabled ~ .peer-disabled\/right\:p-10 {
  padding: 2.5rem;
}

.peer\/left:disabled ~ .peer-disabled\/left\:p-10 {
  padding: 2.5rem;
}

.has-\[input\:checked\]\:justify-end:has(input:checked) {
  justify-content: flex-end;
}

.has-\[\.active\]\:border-\[--main-clr\]:has(.active) {
  border-color: var(--main-clr);
}

.has-\[input\:checked\]\:bg-\[\#1450D0\]:has(input:checked) {
  --tw-bg-opacity: 1;
  background-color: rgb(20 80 208 / var(--tw-bg-opacity, 1));
}

.has-\[\.active\]\:text-\[--main-clr\]:has(.active) {
  color: var(--main-clr);
}

@media (min-width: 320px) {
  .s\:-right-\[60px\] {
    right: -60px;
  }

  .s\:-top-\[20px\] {
    top: -20px;
  }

  .s\:mx-auto {
    margin-left: auto;
    margin-right: auto;
  }

  .s\:my-6 {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
  }

  .s\:mb-1 {
    margin-bottom: 0.25rem;
  }

  .s\:flex {
    display: flex;
  }

  .s\:w-4 {
    width: 1rem;
  }

  .s\:w-7 {
    width: 1.75rem;
  }

  .s\:w-\[100svw\] {
    width: 100svw;
  }

  .s\:w-auto {
    width: auto;
  }

  .s\:w-max {
    width: -moz-max-content;
    width: max-content;
  }

  .s\:min-w-10 {
    min-width: 2.5rem;
  }

  .s\:min-w-4 {
    min-width: 1rem;
  }

  .s\:max-w-max {
    max-width: -moz-max-content;
    max-width: max-content;
  }

  .s\:grid-cols-2 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  .s\:flex-row {
    flex-direction: row;
  }

  .s\:justify-between {
    justify-content: space-between;
  }

  .s\:gap-5 {
    gap: 1.25rem;
  }

  .s\:gap-\[40px\] {
    gap: 40px;
  }

  .s\:rounded-\[16px\] {
    border-radius: 16px;
  }

  .s\:px-\[0\.5rem\] {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }

  .s\:py-5 {
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
  }

  .s\:text-left {
    text-align: left;
  }

  .s\:text-\[14px\] {
    font-size: 14px;
  }

  .s\:text-\[15px\] {
    font-size: 15px;
  }

  .s\:text-\[16px\] {
    font-size: 16px;
  }

  .s\:text-\[18px\] {
    font-size: 18px;
  }

  .s\:text-\[22px\] {
    font-size: 22px;
  }

  .s\:text-\[24px\] {
    font-size: 24px;
  }

  .s\:text-lg {
    font-size: 1.125rem;
    line-height: 1.75rem;
  }
}

@media (min-width: 576px) {
  .sm\:-right-\[120px\] {
    right: -120px;
  }

  .sm\:-top-\[100px\] {
    top: -100px;
  }

  .sm\:bottom-0 {
    bottom: 0px;
  }

  .sm\:left-\[10\%\] {
    left: 10%;
  }

  .sm\:left-\[35\%\] {
    left: 35%;
  }

  .sm\:left-\[40\%\] {
    left: 40%;
  }

  .sm\:top-\[35\%\] {
    top: 35%;
  }

  .sm\:col-span-2 {
    grid-column: span 2 / span 2;
  }

  .sm\:my-6 {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
  }

  .sm\:my-8 {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  .sm\:-mb-\[130px\] {
    margin-bottom: -130px;
  }

  .sm\:mb-4 {
    margin-bottom: 1rem;
  }

  .sm\:mb-\[5px\] {
    margin-bottom: 5px;
  }

  .sm\:mb-\[70px\] {
    margin-bottom: 70px;
  }

  .sm\:ml-\[20px\] {
    margin-left: 20px;
  }

  .sm\:mt-0 {
    margin-top: 0px;
  }

  .sm\:mt-8 {
    margin-top: 2rem;
  }

  .sm\:mt-\[20px\] {
    margin-top: 20px;
  }

  .sm\:ml-auto {
    margin-left: auto;
  }

  .sm\:flex {
    display: flex;
  }

  .sm\:grid {
    display: grid;
  }

  .sm\:aspect-square {
    aspect-ratio: 1 / 1;
  }

  .sm\:min-w-\[100\%\] {
    min-width: 100%;
  }

  .sm\:min-w-max {
    min-width: -moz-max-content;
    min-width: max-content;
  }

  .sm\:max-w-\[none\] {
    max-width: none;
  }

  .sm\:max-w-max {
    max-width: -moz-max-content;
    max-width: max-content;
  }

  .sm\:grid-cols-2 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  .sm\:flex-row {
    flex-direction: row;
  }

  .sm\:items-start {
    align-items: flex-start;
  }

  .sm\:items-center {
    align-items: center;
  }

  .sm\:justify-center {
    justify-content: center;
  }

  .sm\:gap-6 {
    gap: 1.5rem;
  }

  .sm\:gap-\[70px\] {
    gap: 70px;
  }

  .sm\:rounded-\[25px\] {
    border-radius: 25px;
  }

  .sm\:rounded-\[50px\] {
    border-radius: 50px;
  }

  .sm\:rounded-full {
    border-radius: 9999px;
  }

  .sm\:rounded-r-\[40px\] {
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
  }

  .sm\:rounded-l-\[40px\] {
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;
  }

  .sm\:rounded-l-\[200px\] {
    border-top-left-radius: 200px;
    border-bottom-left-radius: 200px;
  }

  .sm\:rounded-l-\[0\] {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }

  .sm\:rounded-r-\[0\] {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  .sm\:p-4 {
    padding: 1rem;
  }

  .sm\:p-6 {
    padding: 1.5rem;
  }

  .sm\:px-4 {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .sm\:py-20 {
    padding-top: 5rem;
    padding-bottom: 5rem;
  }

  .sm\:py-\[10px\] {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .sm\:px-0 {
    padding-left: 0px;
    padding-right: 0px;
  }

  .sm\:pb-20 {
    padding-bottom: 5rem;
  }

  .sm\:pl-0 {
    padding-left: 0px;
  }

  .sm\:pt-10 {
    padding-top: 2.5rem;
  }

  .sm\:pt-20 {
    padding-top: 5rem;
  }

  .sm\:pr-\[20px\] {
    padding-right: 20px;
  }

  @media (min-width: 576px) {
    .sm\:sm\:text-lg {
      font-size: 1.125rem;
      line-height: 1.75rem;
    }
  }

  .sm\:text-2xl {
    font-size: 1.5rem;
    line-height: 2rem;
  }

  .sm\:text-\[14px\] {
    font-size: 14px;
  }

  .sm\:text-\[16px\] {
    font-size: 16px;
  }

  .sm\:text-\[17px\] {
    font-size: 17px;
  }

  .sm\:text-\[18px\] {
    font-size: 18px;
  }

  .sm\:text-\[20px\] {
    font-size: 20px;
  }

  .sm\:text-\[25px\] {
    font-size: 25px;
  }

  .sm\:text-\[28px\] {
    font-size: 28px;
  }

  .sm\:text-\[50px\] {
    font-size: 50px;
  }

  .sm\:text-lg {
    font-size: 1.125rem;
    line-height: 1.75rem;
  }

  .sm\:leading-5 {
    line-height: 1.25rem;
  }

  .sm\:leading-\[22px\] {
    line-height: 22px;
  }

  .sm\:leading-\[28px\] {
    line-height: 28px;
  }
}

@media (min-width: 768px) {
  .md\:relative {
    position: relative;
  }

  .md\:-right-\[120px\] {
    right: -120px;
  }

  .md\:-right-\[180px\] {
    right: -180px;
  }

  .md\:-top-\[148px\] {
    top: -148px;
  }

  .md\:-top-\[150px\] {
    top: -150px;
  }

  .md\:top-\[40\%\] {
    top: 40%;
  }

  .md\:top-\[95px\] {
    top: 95px;
  }

  .md\:my-10 {
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
  }

  .md\:-mb-\[160px\] {
    margin-bottom: -160px;
  }

  .md\:mb-6 {
    margin-bottom: 1.5rem;
  }

  .md\:mb-\[100px\] {
    margin-bottom: 100px;
  }

  .md\:ml-\[unset\] {
    margin-left: unset;
  }

  .md\:block {
    display: block;
  }

  .md\:inline {
    display: inline;
  }

  .md\:flex {
    display: flex;
  }

  .md\:hidden {
    display: none;
  }

  .md\:aspect-square {
    aspect-ratio: 1 / 1;
  }

  .md\:h-\[185\%\] {
    height: 185%;
  }

  .md\:h-\[800px\] {
    height: 800px;
  }

  .md\:h-auto {
    height: auto;
  }

  .md\:w-24 {
    width: 6rem;
  }

  .md\:w-5 {
    width: 1.25rem;
  }

  .md\:min-w-\[100\%\] {
    min-width: 100%;
  }

  .md\:max-w-\[none\] {
    max-width: none;
  }

  .md\:grid-cols-2 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  .md\:flex-row {
    flex-direction: row;
  }

  .md\:justify-start {
    justify-content: flex-start;
  }

  .md\:justify-center {
    justify-content: center;
  }

  .md\:justify-between {
    justify-content: space-between;
  }

  .md\:gap-0 {
    gap: 0px;
  }

  .md\:gap-10 {
    gap: 2.5rem;
  }

  .md\:gap-20 {
    gap: 5rem;
  }

  .md\:gap-8 {
    gap: 2rem;
  }

  .md\:gap-\[90px\] {
    gap: 90px;
  }

  .md\:rounded-\[30px\] {
    border-radius: 30px;
  }

  .md\:bg-\[none\] {
    background-color: none;
  }

  .md\:bg-\[\#F2F6FF\] {
    --tw-bg-opacity: 1;
    background-color: rgb(242 246 255 / var(--tw-bg-opacity, 1));
  }

  .md\:bg-\[unset\] {
    background-color: unset;
  }

  .md\:p-6 {
    padding: 1.5rem;
  }

  .md\:px-\[20px\] {
    padding-left: 20px;
    padding-right: 20px;
  }

  .md\:py-10 {
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
  }

  .md\:py-2 {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }

  .md\:pt-12 {
    padding-top: 3rem;
  }

  .md\:pt-\[12svw\] {
    padding-top: 12svw;
  }

  .md\:pl-6 {
    padding-left: 1.5rem;
  }

  .md\:pl-8 {
    padding-left: 2rem;
  }

  .md\:text-left {
    text-align: left;
  }

  .md\:text-\[13px\] {
    font-size: 13px;
  }

  .md\:text-\[15px\] {
    font-size: 15px;
  }

  .md\:text-\[16px\] {
    font-size: 16px;
  }

  .md\:text-\[18px\] {
    font-size: 18px;
  }

  .md\:text-\[20px\] {
    font-size: 20px;
  }

  .md\:text-\[25px\] {
    font-size: 25px;
  }

  .md\:text-\[28px\] {
    font-size: 28px;
  }

  .md\:text-\[32px\] {
    font-size: 32px;
  }

  .md\:text-\[35px\] {
    font-size: 35px;
  }

  .md\:text-\[60px\] {
    font-size: 60px;
  }

  .md\:leading-\[25px\] {
    line-height: 25px;
  }

  .group.header-mobile .md\:group-\[\.header-mobile\]\:hidden {
    display: none;
  }

  .group.header-mobile .md\:group-\[\.header-mobile\]\:w-14 {
    width: 3.5rem;
  }
}

@media (min-width: 1024px) {
  .lg\:static {
    position: static;
  }

  .lg\:absolute {
    position: absolute;
  }

  .lg\:-right-\[180px\] {
    right: -180px;
  }

  .lg\:-right-\[260px\] {
    right: -260px;
  }

  .lg\:-right-\[70px\] {
    right: -70px;
  }

  .lg\:-top-\[150px\] {
    top: -150px;
  }

  .lg\:-top-\[200px\] {
    top: -200px;
  }

  .lg\:bottom-\[6\%\] {
    bottom: 6%;
  }

  .lg\:left-\[24\%\] {
    left: 24%;
  }

  .lg\:left-\[40\%\] {
    left: 40%;
  }

  .lg\:top-\[100px\] {
    top: 100px;
  }

  .lg\:top-\[43\%\] {
    top: 43%;
  }

  .lg\:top-\[50px\] {
    top: 50px;
  }

  .lg\:top-\[87\%\] {
    top: 87%;
  }

  .lg\:my-12 {
    margin-top: 3rem;
    margin-bottom: 3rem;
  }

  .lg\:my-16 {
    margin-top: 4rem;
    margin-bottom: 4rem;
  }

  .lg\:my-8 {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  .lg\:mb-28 {
    margin-bottom: 7rem;
  }

  .lg\:mb-\[120px\] {
    margin-bottom: 120px;
  }

  .lg\:ml-\[70px\] {
    margin-left: 70px;
  }

  .lg\:mt-\[30px\] {
    margin-top: 30px;
  }

  .lg\:mt-\[50px\] {
    margin-top: 50px;
  }

  .lg\:block {
    display: block;
  }

  .lg\:flex {
    display: flex;
  }

  .lg\:h-\[1000px\] {
    height: 1000px;
  }

  .lg\:h-\[280\%\] {
    height: 280%;
  }

  .lg\:h-\[53px\] {
    height: 53px;
  }

  .lg\:h-\[700px\] {
    height: 700px;
  }

  .lg\:w-32 {
    width: 8rem;
  }

  .lg\:w-6 {
    width: 1.5rem;
  }

  .lg\:min-w-\[auto\] {
    min-width: auto;
  }

  .lg\:min-w-full {
    min-width: 100%;
  }

  .lg\:max-w-\[500px\] {
    max-width: 500px;
  }

  .lg\:max-w-\[50svw\] {
    max-width: 50svw;
  }

  .lg\:max-w-\[600px\] {
    max-width: 600px;
  }

  .lg\:grid-cols-2 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  .lg\:grid-cols-3 {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }

  .lg\:grid-cols-4 {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }

  .lg\:flex-row {
    flex-direction: row;
  }

  .lg\:flex-col {
    flex-direction: column;
  }

  .lg\:items-start {
    align-items: flex-start;
  }

  .lg\:items-center {
    align-items: center;
  }

  .lg\:justify-center {
    justify-content: center;
  }

  .lg\:gap-12 {
    gap: 3rem;
  }

  .lg\:gap-16 {
    gap: 4rem;
  }

  .lg\:gap-32 {
    gap: 8rem;
  }

  .lg\:rounded-\[20px\] {
    border-radius: 20px;
  }

  .lg\:rounded-\[30px\] {
    border-radius: 30px;
  }

  .lg\:rounded-xl {
    border-radius: 0.75rem;
  }

  .lg\:rounded-bl-\[0\] {
    border-bottom-left-radius: 0;
  }

  .lg\:rounded-bl-\[40px\] {
    border-bottom-left-radius: 40px;
  }

  .lg\:rounded-br-\[0\] {
    border-bottom-right-radius: 0;
  }

  .lg\:rounded-tl-\[0\] {
    border-top-left-radius: 0;
  }

  .lg\:rounded-tr-\[0\] {
    border-top-right-radius: 0;
  }

  .lg\:p-6 {
    padding: 1.5rem;
  }

  .lg\:px-14 {
    padding-left: 3.5rem;
    padding-right: 3.5rem;
  }

  .lg\:px-\[40px\] {
    padding-left: 40px;
    padding-right: 40px;
  }

  .lg\:py-28 {
    padding-top: 7rem;
    padding-bottom: 7rem;
  }

  .lg\:py-4 {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  .lg\:pb-10 {
    padding-bottom: 2.5rem;
  }

  .lg\:pb-28 {
    padding-bottom: 7rem;
  }

  .lg\:pl-6 {
    padding-left: 1.5rem;
  }

  .lg\:pt-14 {
    padding-top: 3.5rem;
  }

  .lg\:pt-20 {
    padding-top: 5rem;
  }

  .lg\:pt-\[10svw\] {
    padding-top: 10svw;
  }

  .lg\:text-center {
    text-align: center;
  }

  .lg\:text-\[15px\] {
    font-size: 15px;
  }

  .lg\:text-\[16px\] {
    font-size: 16px;
  }

  .lg\:text-\[18px\] {
    font-size: 18px;
  }

  .lg\:text-\[20px\] {
    font-size: 20px;
  }

  .lg\:text-\[22px\] {
    font-size: 22px;
  }

  .lg\:text-\[28px\] {
    font-size: 28px;
  }

  .lg\:text-\[36px\] {
    font-size: 36px;
  }

  .lg\:text-\[40px\] {
    font-size: 40px;
  }

  .lg\:text-lg {
    font-size: 1.125rem;
    line-height: 1.75rem;
  }

  .lg\:text-xl {
    font-size: 1.25rem;
    line-height: 1.75rem;
  }

  .lg\:leading-6 {
    line-height: 1.5rem;
  }
}

@media (min-width: 1536px) {
  .xl\:-right-\[150px\] {
    right: -150px;
  }

  .xl\:-right-\[260px\] {
    right: -260px;
  }

  .xl\:-right-\[50px\] {
    right: -50px;
  }

  .xl\:-right-\[70px\] {
    right: -70px;
  }

  .xl\:-top-\[275px\] {
    top: -275px;
  }

  .xl\:-top-\[30px\] {
    top: -30px;
  }

  .xl\:-top-\[50px\] {
    top: -50px;
  }

  .xl\:left-\[17\%\] {
    left: 17%;
  }

  .xl\:top-\[100px\] {
    top: 100px;
  }

  .xl\:col-span-1 {
    grid-column: span 1 / span 1;
  }

  .xl\:my-10 {
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
  }

  .xl\:mb-10 {
    margin-bottom: 2.5rem;
  }

  .xl\:mb-\[150px\] {
    margin-bottom: 150px;
  }

  .xl\:mt-0 {
    margin-top: 0px;
  }

  .xl\:mt-10 {
    margin-top: 2.5rem;
  }

  .xl\:mt-2 {
    margin-top: 0.5rem;
  }

  .xl\:mt-3 {
    margin-top: 0.75rem;
  }

  .xl\:mt-\[40px\] {
    margin-top: 40px;
  }

  .xl\:mt-\[50px\] {
    margin-top: 50px;
  }

  .xl\:block {
    display: block;
  }

  .xl\:flex {
    display: flex;
  }

  .xl\:grid {
    display: grid;
  }

  .xl\:hidden {
    display: none;
  }

  .xl\:aspect-square {
    aspect-ratio: 1 / 1;
  }

  .xl\:h-\[225\%\] {
    height: 225%;
  }

  .xl\:h-\[700px\] {
    height: 700px;
  }

  .xl\:h-\[900px\] {
    height: 900px;
  }

  .xl\:w-1\/3 {
    width: 33.333333%;
  }

  .xl\:w-12 {
    width: 3rem;
  }

  .xl\:w-\[16px\] {
    width: 16px;
  }

  .xl\:min-w-12 {
    min-width: 3rem;
  }

  .xl\:min-w-6 {
    min-width: 1.5rem;
  }

  .xl\:max-w-6 {
    max-width: 1.5rem;
  }

  .xl\:max-w-\[1000px\] {
    max-width: 1000px;
  }

  .xl\:max-w-\[1536px\] {
    max-width: 1536px;
  }

  .xl\:max-w-\[300px\] {
    max-width: 300px;
  }

  .xl\:max-w-\[600px\] {
    max-width: 600px;
  }

  .xl\:max-w-\[780px\] {
    max-width: 780px;
  }

  .xl\:grid-cols-2 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  .xl\:grid-cols-5 {
    grid-template-columns: repeat(5, minmax(0, 1fr));
  }

  .xl\:justify-start {
    justify-content: flex-start;
  }

  .xl\:gap-32 {
    gap: 8rem;
  }

  .xl\:gap-44 {
    gap: 11rem;
  }

  .xl\:gap-5 {
    gap: 1.25rem;
  }

  .xl\:gap-y-0 {
    row-gap: 0px;
  }

  .xl\:rounded-\[20px\] {
    border-radius: 20px;
  }

  .xl\:rounded-\[40px\] {
    border-radius: 40px;
  }

  .xl\:rounded-\[45px\] {
    border-radius: 45px;
  }

  .xl\:p-10 {
    padding: 2.5rem;
  }

  .xl\:p-5 {
    padding: 1.25rem;
  }

  .xl\:p-6 {
    padding: 1.5rem;
  }

  .xl\:p-8 {
    padding: 2rem;
  }

  .xl\:p-\[6px\] {
    padding: 6px;
  }

  .xl\:px-32 {
    padding-left: 8rem;
    padding-right: 8rem;
  }

  .xl\:py-3 {
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
  }

  .xl\:pb-5 {
    padding-bottom: 1.25rem;
  }

  .xl\:pl-\[50px\] {
    padding-left: 50px;
  }

  .xl\:pt-20 {
    padding-top: 5rem;
  }

  .xl\:pt-\[150px\] {
    padding-top: 150px;
  }

  .xl\:text-justify {
    text-align: justify;
  }

  .xl\:text-2xl {
    font-size: 1.5rem;
    line-height: 2rem;
  }

  .xl\:text-\[16px\] {
    font-size: 16px;
  }

  .xl\:text-\[18px\] {
    font-size: 18px;
  }

  .xl\:text-\[20px\] {
    font-size: 20px;
  }

  .xl\:text-\[22px\] {
    font-size: 22px;
  }

  .xl\:text-\[24px\] {
    font-size: 24px;
  }

  .xl\:text-\[28px\] {
    font-size: 28px;
  }

  .xl\:text-\[30px\] {
    font-size: 30px;
  }

  .xl\:text-\[40px\] {
    font-size: 40px;
  }

  .xl\:text-\[45px\] {
    font-size: 45px;
  }

  .xl\:text-\[48px\] {
    font-size: 48px;
  }

  .xl\:text-\[80px\] {
    font-size: 80px;
  }

  .xl\:text-lg {
    font-size: 1.125rem;
    line-height: 1.75rem;
  }

  .xl\:text-xl {
    font-size: 1.25rem;
    line-height: 1.75rem;
  }

  .xl\:leading-5 {
    line-height: 1.25rem;
  }

  .xl\:leading-6 {
    line-height: 1.5rem;
  }

  .xl\:leading-7 {
    line-height: 1.75rem;
  }

  .xl\:leading-\[28px\] {
    line-height: 28px;
  }

  .xl\:leading-\[48px\] {
    line-height: 48px;
  }

  .xl\:leading-\[60px\] {
    line-height: 60px;
  }
}

@media (min-width: 1836px) {
  .\32xl\:static {
    position: static;
  }

  .\32xl\:-right-\[100px\] {
    right: -100px;
  }

  .\32xl\:-top-\[110px\] {
    top: -110px;
  }

  .\32xl\:-top-\[40px\] {
    top: -40px;
  }

  .\32xl\:right-0 {
    right: 0px;
  }

  .\32xl\:top-\[120px\] {
    top: 120px;
  }

  .\32xl\:top-\[20px\] {
    top: 20px;
  }

  .\32xl\:-top-\[10px\] {
    top: -10px;
  }

  .\32xl\:z-20 {
    z-index: 20;
  }

  .\32xl\:my-20 {
    margin-top: 5rem;
    margin-bottom: 5rem;
  }

  .\32xl\:mb-32 {
    margin-bottom: 8rem;
  }

  .\32xl\:mb-8 {
    margin-bottom: 2rem;
  }

  .\32xl\:mt-\[70px\] {
    margin-top: 70px;
  }

  .\32xl\:block {
    display: block;
  }

  .\32xl\:h-\[45svw\] {
    height: 45svw;
  }

  .\32xl\:h-\[63px\] {
    height: 63px;
  }

  .\32xl\:h-\[70\%\] {
    height: 70%;
  }

  .\32xl\:h-\[900px\] {
    height: 900px;
  }

  .\32xl\:w-\[900px\] {
    width: 900px;
  }

  .\32xl\:w-\[inherit\] {
    width: inherit;
  }

  .\32xl\:min-w-\[900px\] {
    min-width: 900px;
  }

  .\32xl\:min-w-\[inherit\] {
    min-width: inherit;
  }

  .\32xl\:max-w-\[1200px\] {
    max-width: 1200px;
  }

  .\32xl\:max-w-\[900px\] {
    max-width: 900px;
  }

  .\32xl\:max-w-\[inherit\] {
    max-width: inherit;
  }

  .\32xl\:gap-28 {
    gap: 7rem;
  }

  .\32xl\:p-2 {
    padding: 0.5rem;
  }

  .\32xl\:py-32 {
    padding-top: 8rem;
    padding-bottom: 8rem;
  }

  .\32xl\:pb-32 {
    padding-bottom: 8rem;
  }

  .\32xl\:pt-16 {
    padding-top: 4rem;
  }

  .\32xl\:pt-24 {
    padding-top: 6rem;
  }

  .\32xl\:pt-\[160px\] {
    padding-top: 160px;
  }

  .\32xl\:pt-\[200px\] {
    padding-top: 200px;
  }

  .\32xl\:text-\[18px\] {
    font-size: 18px;
  }

  .\32xl\:text-\[20px\] {
    font-size: 20px;
  }

  .\32xl\:text-\[24px\] {
    font-size: 24px;
  }

  .\32xl\:text-\[28px\] {
    font-size: 28px;
  }

  .\32xl\:text-\[34px\] {
    font-size: 34px;
  }

  .\32xl\:text-\[44px\] {
    font-size: 44px;
  }

  .\32xl\:text-\[52px\] {
    font-size: 52px;
  }

  .\32xl\:leading-6 {
    line-height: 1.5rem;
  }

  .\32xl\:leading-7 {
    line-height: 1.75rem;
  }
}